* {
	margin: 0;
	padding: 0;
}

html,
body {
	height: 100%;
	overflow: hidden;
}

/*input[type=text],
input[type=password] {
	height: 40px;
	line-height: 20px;
	border-radius: 3px;
	outline: 0;
	background-color: #fff;
	-webkit-appearance: none;
}*/
a{
  color: "#7e8c8d";
  -webkit-backface-visibility: hidden;
  text-decoration: none;
}
li{
  list-style: none;
}  

.fl{
	float: left;
}
.fr{
	float: right;
}
.w100{
	width: 100%;
}
.h100{
	height: 100%;
}
.text-l{
	text-align: left;
}
.text-r{
	text-align: right;
}
.text-c{
	text-align: center;
}
.c-fff{
	color: #fff;
}
.red{
	color: #fd3c3c !important;
}
	
.f12{
	font-size: 12px;
}
.f14{
	font-size: 14px;
}
.f16{
	font-size: 16px;
}
.f18{
	font-size: 18px;
}
.f20{
	font-size: 20px;
}
.f22{
	font-size: 22px;
}
.bg-fff{
	background: #fff;;
}
.bg-f00{
	background: #f00;
}
.over-auto{
	overflow: auto;
}
.over-hidden{
	overflow: hidden;
}

.bold{
	font-weight: bold;
}

.inline{
	display: inline;
}
.inline-block{
	display: inline-block;
}
.block{
	display: block;
}
.relative{
	position: relative;
}
.absolute{
	position: absolute;
}
.fixed{
	position: fixed;
}

.flex{
	display: flex;
}
.flex-1{
	flex: 1;
	width: 0;
	flex-basis: 0;
}
.border-box{
	box-sizing: border-box;
}

.line-through{
	text-decoration: line-through;
}
.underline{
	text-decoration: underline;
}
